.hero {
    &.has-background {
      position: relative;
      overflow: hidden;
    }
  
    &-background {
      position: absolute;
      object-fit: cover;
      object-position: bottom;
      width: 100%;
      height: 100%;
  
      &.is-transparent {
        opacity: 0.3;
      }
    }
  }
  
  .burger {
    background-color: transparent;
    border: none;
  }
  
  .navbar-brand {
    align-items: center;
  }

  .center-form {
    max-width: 400px;
  }

  .background-1 {
      background-color:  #1E9C89;
  }

  .background-2 {
    background-color: #00d1b2;
  }

  .background-3 {
    background-color: #617DB2;
  }

  .background-4 {
    background-color: #F1F6FF;
  }


  .color-1 {
    color: #1E9C89;
  }

  .color-2 {
    color: #00d1b2;
  }

  .color-3 {
    color: #CED9F0;
  }

  .color-4 {
    color: #F1F6FF;
  }

  .circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    div {
      text-align: center;
      line-height: 60px;
      font-size: 22px;
    }
  }

.grid-container {
  display: grid;
  padding: 10px;
  align-items: center;
  position:relative;
}

.grid_cols_5 {
  grid-template-columns: auto auto auto auto auto;
}

.grid_cols_6 {
  grid-template-columns: auto auto auto auto auto auto;
}

.grid_cols_7 {
  grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-item {
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.in-game-player-info {
  display: inline-block;
  width: 180px;
  div {
    display: inline-block;
    margin-right: 8px;
  }
}

.col-button {
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

.col-button:hover {
  background-color: white;
  opacity: 20%;
}

.col-button-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.results-card {
  position: absolute;
  top:30%;
  left:25%;
  width: 50%;
  opacity: 95%;
}

.leaderboard-card {
  .rank {
    width:70px;
    display: inline-block;
  }

  .name {
    width:230px;
    display: inline-block;
  }

  .difficulty {
    width:120px;
    display: inline-block;
  }

  .moves {
    width:80px;
    display: inline-block;
  }

  .bold {
    font-weight: bold;
  }
}